UPSTREAM_BASE_URL=
UPSTREAM_API_KEY=
UPSTREAM_MODEL=
UPSTREAM_REVIEW_MODEL=
IDEA_GENERATOR_MODEL=
IDEA_CRITIC_MODEL=
IDEA_FINAL_MODEL=
IMAGE_MODEL=
REQUEST_TIMEOUT_SECONDS=
WORKFLOW_STAGE_TIMEOUT_SECONDS=
IMAGE_REQUEST_TIMEOUT_SECONDS=
WIKI_REFERENCE_EXPANSION_ENABLED=false
WIKI_REFERENCE_LIMIT=50
WIKI_REFERENCE_SOURCE_LIMIT=3
WIKI_REFERENCE_DOWNLOAD_LIMIT=5
WIKI_REFERENCE_TIMEOUT_SECONDS=20
WIKI_REFERENCE_MAX_PDF_MB=20
WIKI_REFERENCE_MAX_TOTAL_MB=50
WIKI_IDEA_QUERY_PAPER_LIMIT=12
WIKI_IDEA_QUERY_CHARACTER_LIMIT=12000
CLOUD_SYNC_ENABLED=
CLOUD_DELIVERY_REQUIRED=
SEAFILE_BASE_URL=
EDIT_BANANA_BASE_URL=
EDIT_BANANA_TIMEOUT_SECONDS=300
SEAFILE_API_TOKEN=
SEAFILE_REPO_NAME=
SEAFILE_REMOTE_ROOT=
SEAFILE_SHARE_LINKS=
PUBLIC_API_KEY=
